@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

* {
  padding: 0px;
  margin: 0px;
  border: 0px; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

aside,
nav,
footer,
header,
section {
  display: block; }

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #000; }

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-weight: normal;
  font-family: "HelveticaNeueCyr";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }
  body.lock {
    overflow: hidden; }
    @media (max-width: 767.98px) {
      body.lock {
        width: 100%;
        position: fixed;
        overflow: hidden; } }

input,
button,
textarea {
  font-family: "HelveticaNeueCyr"; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit; }

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

.container {
  max-width: 990px;
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px; }
  @media (max-width: 1002px) {
    .container {
      max-width: 970px; } }
  @media (max-width: 992.98px) {
    .container {
      max-width: 750px; } }
  @media (max-width: 767.98px) {
    .container {
      max-width: none;
      padding: 0 10px; } }

.container-big {
  max-width: 1110px; }

.page {
  height: 100%;
  width: 100%;
  background-image: url(../img/background.png);
  /* background-size: auto;
  background-position: center;
  background-repeat: repeat;
  background-image: radial-gradient(#383b47, #24262d);*/ }

.title {
  color: #ffffff;
  font-family: "Helvetica";
  font-weight: 700;
  font-size: 18px;
  display: inline-block;
  position: absolute;
  bottom: 120px;
  padding-bottom: 26px;
  z-index: 3; }
  .title:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 13px;
    opacity: 0.3;
    background-color: #202128; }
  .title span {
    color: #bec3cc;
    font-weight: 400; }
  @media (max-width: 767.98px) {
    .title {
      font-size: 14px; } }

.ibg {
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat; }
  .ibg img {
    display: none; }

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%; }
  .video video, .video iframe, .video object, .video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.videobg video, .videobg iframe, .videobg object, .videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover; }

.slick-slider {
  position: relative; }
  .slick-slider .slick-track, .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .slick-slider .slick-list {
    position: relative;
    overflow: hidden;
    width: 100%; }
  .slick-slider .slick-track {
    position: relative;
    width: 100%; }
  .slick-slider .slick-slide {
    overflow: hidden;
    float: left;
    position: relative; }
  .slick-slider .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 20px; }
    .slick-slider .slick-dots li {
      margin-right: 7px; }
      .slick-slider .slick-dots li:last-child {
        margin-right: 0; }
      .slick-slider .slick-dots li button {
        width: 7px;
        height: 7px;
        background: #817f7f;
        border-radius: 50%;
        font-size: 0; }
      .slick-slider .slick-dots li.slick-active button {
        background: #3e414b; }

.tab__item {
  display: none; }
  .tab__item.active {
    display: block; }

.form-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0; }

.form__column {
  padding: 0px 15px; }

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.input {
  width: 100%;
  display: block;
  padding: 0px 20px; }

textarea.input {
  resize: none;
  padding: 0px 0px; }

.btn {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff; }
  .btn.fw {
    width: 100%; }

.header {
  padding-bottom: 22px;
  padding-top: 50px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid #282a32;
  z-index: 1; }
  .header-body {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header-menu-list {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header-menu__item {
    margin-right: 25px;
    position: relative; }
    .header-menu__item:last-child {
      margin-right: 0; }
    .header-menu__item:hover:after {
      content: "";
      width: 100%;
      height: 4px;
      background-color: #d05e38;
      position: absolute;
      left: 0;
      bottom: -28px;
      -webkit-transition: 0.5s all;
      -o-transition: 0.5s all;
      transition: 0.5s all; }
    .header-menu__item-social {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
  .header-menu__link {
    color: #ffffff;
    font-family: Helvetica;
    font-size: 12px;
    font-weight: 700;
    line-height: 27px; }
  .header-menu__item-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .header-menu__item-social:after {
      display: none; }
  .header-menu__link-social {
    width: 34px;
    height: 33px;
    border-radius: 50%;
    font-size: 15px;
    background-color: #41434b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .header-menu__link-social:hover {
      color: #d05e38; }

@media (max-width: 992.98px) {
  .header-menu {
    background-image: url(../img/item-bg.png);
    background-position: center;
    background-repeat: repeat;
    background-size: auto;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -ms-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    position: fixed;
    top: -250%;
    right: 0;
    padding: 100px 50px 50px 50px;
    height: 100%;
    z-index: 17; }
    .header-menu-list {
      display: block; }
    .header-menu__item {
      margin-bottom: 25px; }
    .header-menu.active {
      top: 0;
      -webkit-transition: all 0.5s ease 0s;
      -moz-transition: all 0.5s ease 0s;
      -ms-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s; }
  .header-menu__icon {
    display: block;
    position: absolute;
    z-index: 21;
    top: 50px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s; }
    .header-menu__icon span {
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -ms-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      top: 8px;
      left: 0px;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #d05e38; }
      .header-menu__icon span:first-child {
        top: 0px; }
      .header-menu__icon span:last-child {
        top: auto;
        bottom: 0px; }
    .header-menu__icon.active span {
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -webkit-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0); }
      .header-menu__icon.active span:first-child {
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 8px; }
      .header-menu__icon.active span:last-child {
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        bottom: 8px; } }

.main-slider {
  position: relative; }
  .main-slider__item {
    min-height: 550px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .main-slider__item:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.3;
      z-index: 1; }

.section-sl {
  padding: 42px 0;
  -webkit-box-shadow: 0px 1px 0 rgba(0, 0, 0, 0.4), 0px -1px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 0 rgba(0, 0, 0, 0.4), 0px -1px 0 rgba(0, 0, 0, 0.4); }

.section .slick-list {
  text-align: center; }

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0px 65px;
  position: relative; }
  .slider-item {
    position: relative;
    padding-bottom: 10px; }
    .slider-item:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 2px;
      -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.4);
      box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.4); }
    @media (max-width: 767.98px) {
      .slider-item:after {
        display: none; } }
    .slider-item:before {
      content: "";
      position: absolute;
      bottom: 41px;
      left: 17px;
      width: 136px;
      height: 8px;
      background: transparent;
      border-radius: 50%;
      -webkit-box-shadow: -11px 30px 12px #000000;
      box-shadow: -11px 29px 12px #000000; }

.slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 0;
  width: 35px;
  height: 35px;
  -webkit-box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.2);
  border: 4px solid rgba(17, 17, 17, 0.33);
  background-color: #3c3f44;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .slick-arrow:hover {
    background-color: #d05e38;
    border: 4px solid rgba(17, 17, 17, 0.8); }

.slick-next {
  right: 0;
  background-image: url(../img/rim/arrow_next.png);
  background-position: center;
  background-repeat: no-repeat; }

.slick-prev {
  left: 0;
  background-image: url(../img/rim/arrow_prev.png);
  background-position: center;
  background-repeat: no-repeat; }

.section-n {
  padding-top: 52px;
  padding-bottom: 75px;
  position: relative; }
  .section-n .title {
    bottom: 0; }
    .section-n .title:before {
      background-color: #1c1e24;
      opacity: 1; }

.news-body {
  position: relative; }

.news-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 23px;
  margin-bottom: 36px;
  -webkit-box-shadow: inset 0px -23px 39px -39px rgba(0, 0, 0, 0.71);
  box-shadow: inset 0px -23px 39px -39px rgba(0, 0, 0, 0.71); }
  @media (max-width: 796px) {
    .news-item {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  .news-item:last-child {
    margin-bottom: 0; }
  .news-item__img {
    position: relative;
    padding: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-image: url(../img/item-bg.png);
    background-position: center;
    background-repeat: repeat;
    background-size: auto;
    margin-right: 29px;
    position: relative; }
    @media (max-width: 796px) {
      .news-item__img {
        margin-right: 0;
        margin-bottom: 25px; } }
    .news-item__img:before {
      content: "";
      position: absolute;
      bottom: 41px;
      left: 17px;
      width: 136px;
      height: 8px;
      background: transparent;
      border-radius: 50%;
      -webkit-box-shadow: -11px 30px 12px #000000;
      box-shadow: -11px 9px 12px #000000; }
  .news-item__lbl {
    display: block;
    min-width: 63px;
    text-align: center;
    padding: 7px 10px;
    color: #fff;
    background-color: #d05e38;
    font-family: Helvetica;
    font-size: 11px;
    font-weight: 700;
    position: absolute;
    left: -10px;
    top: 15px; }
  .news-item__contant {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-right: 34px;
    position: relative; }
    @media (max-width: 796px) {
      .news-item__contant {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        padding-right: 0;
        text-align: justify; } }
    .news-item__contant:after {
      content: "";
      position: absolute;
      top: 0;
      right: 15px;
      height: 100%;
      width: 2px;
      -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.9);
      box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.9); }
      @media (max-width: 796px) {
        .news-item__contant:after {
          display: none; } }
    .news-item__contant-title {
      color: #ffffff;
      font-family: "Helvetica";
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 18px; }
      .news-item__contant-title span {
        font-family: Helvetica;
        font-weight: 400;
        color: #bec3cc; }
      @media (max-width: 796px) {
        .news-item__contant-title {
          text-align: center;
          font-size: 14px; } }
    .news-item__contant-parf {
      font-family: Helvetica;
      line-height: 22px;
      color: #dee1ef;
      font-size: 12px;
      margin-bottom: 30px; }
      @media (max-width: 796px) {
        .news-item__contant-parf {
          font-size: 14px; } }
  .news-item__serch {
    display: block;
    width: 70px;
    height: 71px;
    -webkit-box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.2);
    border: 4px solid rgba(17, 17, 17, 0.33);
    background-color: #41434b;
    border-radius: 50%;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .news-item__serch span {
      display: inline-block;
      width: 22px;
      height: 18px;
      background-image: url(../img/shape.svg); }
    .news-item__serch:hover {
      background-color: #d05e38;
      border: 4px solid rgba(17, 17, 17, 0.8); }

.footer {
  padding-top: 28px;
  padding-bottom: 96px;
  position: relative; }
  .footer:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.2; }
  @media (max-width: 992.98px) {
    .footer__logo {
      display: block;
      text-align: center; } }
  .footer__logo img {
    margin-bottom: 33px; }
  .footer-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #ffffff;
    font-family: Helvetica;
    font-size: 12px;
    font-weight: 700;
    line-height: 19px;
    -webkit-box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.9);
    box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.9);
    border: 1px solid #191b1f;
    background-color: #32343d;
    padding: 17px 0;
    margin-bottom: 25px;
    width: 100%;
    opacity: 0.4;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s; }
    .footer-btn:hover {
      color: #d05e38;
      opacity: 1; }
      .footer-btn:hover .footer-btn__icon {
        color: #d05e38; }
    .footer-btn__icon {
      color: #4f525b;
      font-size: 22px;
      margin-right: 15px; }
    .footer-btn__txt {
      font-family: Helvetica;
      font-weight: 400; }
      .footer-btn__txt span {
        color: #919297; }
  .footer__copyright {
    opacity: 0.4;
    color: #ffffff;
    font-family: Helvetica;
    font-size: 11px;
    font-weight: 400;
    line-height: 30px;
    display: flow-root;
    text-align: center; }

.footer-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 992.98px) {
    .footer-body {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  .footer-body__text {
    color: #ffffff;
    font-family: Helvetica;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    max-width: 587px;
    margin-bottom: 22px;
    opacity: 0.5; }
    @media (max-width: 992.98px) {
      .footer-body__text {
        text-align: center; } }
  .footer-body__form {
    max-width: 296px;
    width: 100%; }
    @media (max-width: 992.98px) {
      .footer-body__form {
        margin-bottom: 22px; } }

.form__input {
  position: relative; }
  .form__input input {
    height: 43px;
    color: #d05e38;
    -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.16);
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.16);
    background-color: #18191f;
    border-radius: 5px;
    font-family: FontAwesome;
    font-size: 16px; }

.form__btn {
  width: 48px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: #d05e38;
  border-radius: 0 5px 5px 0; }
  .form__btn:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: url(../img/icons/serch-btn-icon.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    width: 15px;
    height: 15px;
    opacity: 0.5;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .form__btn:hover:before {
    opacity: 1; }
